body{
    background-color: rgb(245, 222, 130);
}

body.switch {
    background-color: rgb(36, 59, 91);
}

header {
    display: block;
    background-image: url(images/dayBanner.png);
    padding: 0;
    margin: 0 auto 0 ;
    width: 1200px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 1px;
}
    

.switch header{
    background-image: url(images/darkBanner.png);
    position: relative;
}


main {
    display: block;
    margin:  auto;
    margin-top: 0;
    background-image: url(images/dayBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1200px;
    height: 790px;
}

.switch main{
    background-image: url(images/nightBg.png);

}

header h1,
header h2,
main h3,
main p {
    margin: 0;
}

h2{
    font-family:"Kalam", cursive ;
    color: #1a1111;
    font-weight: 100;
    padding-top: 20px;
    padding-left: 40px;
}

h1{
    font-family:"Kalam", cursive ;
    color: #1a1111;
    font-size: 3.5em;
    font-weight: 200;
    padding-left: 40px;
    padding-top: 30px;
}

body.switch h1,
body.switch h2 {
    color: white;
}

h3{
    font-family:"Zain", sans-serif ;
    font-size: 2em;
    color: #51a0aa;
}

.switch h3{
    color:#dc9340 ;
}

#mainBackground {
    display: flex;
    justify-content: space-evenly;
    margin:auto;
    padding: 10px;
    padding-top: 30px;
}

#mainBackground section {
    flex: 1;
    border: 1px rgb(235, 235, 235) dashed;
    margin: 10px;
    padding: 1em;
    background-color: rgba(233, 208, 117, 0.8);
}

.switch #mainBackground section{
    background-color: #47351f;
}

a {
    text-decoration: none;
}

nav ol, nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li {
    padding-left: 1.2em;
}

section a {
    position: relative;
    line-height: 1.1em;
    display: inline-block;
    padding: 0.5em;
    color: black;
    font-family: "Zain", sans-serif;
    font-size: 20px;
    text-decoration: none;
}


section a::after {
    content: '';
    position: absolute;
    bottom: 0.3em;
    left: 10px;
    width: 90%;
    height: 1px;
    background-color: #51a0aa;
    transform: scaleX(0);
    transform-origin: left; 
    transition: transform 0.3s ease;
    
}

section a:hover::after {
    transform: scaleX(1);
}


section.switch a {
    color: white;
}

section.switch a:hover {
    background-color: #333;
    color: rgb(235, 235, 235);
}


button {
    position: absolute;
    top: 20px;
    right: 100px;
    padding: 12px;
    background-color: orange;
    color: #333;
    border: 1px solid transparent;
}

body,
header,
main,
section,
button {
    transition: background-color 0.6s ease, color 0.6s ease;
}

section a {
    transition: color 0.3s ease, background-color 0.3s ease;
}
